
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    .nav-bar, article {
        width: 100%;
        height: auto;
    }
}

img{
    width: 100%;
}

div {
    display: block;
    overflow: hidden;
    border: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
    overflow: hidden;
    padding: auto;
}
li{
    text-decoration: none;
    text-align: center;
}
.restaurante-filtro{
    border-bottom: solid 1px black;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.restaurante-flitro.limpiar{
    cursor:pointer;
}
.nav-bar {
    float: left;
    width: 20%;
    background-color: #ccc;
    padding: 20px;
}
article {
    float: right;
    margin-left: -210px;
    width: 80%;
    background-color: #ccc;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

/*imagenes del catalogo*/
#contenido{
    background-color: #ccc;
}
.flex-catalogo > div {
    background-color:white;
    width: 300px;
    margin: 10px;
    text-align: center;
}
.infoAdicional{
    float: left;
    display: none;
}
.contenedor-restaurante img{
    height: 60%;
}
.contenedor-restaurante:hover{
    cursor: pointer;
}
.descripcion{
    font-size: 1.3em;
    text-align: left;
    padding: 10px 0;
}





